/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
:root{
  --dark-blue: #135cc5;
  --orange: #ff7730;
  --primary: var(--orange);

  --h1: 7.594rem;
  --h2: 5.063rem;

 }

.dark{
  --primary: var(--orange);

}

.light{
  --primary: var(var(--dark-blue));
}
/* 
body{
  background-color: var(--primary);
} */

h1{
  font-size: var(--h1);
}

.section-title{
  font-size: var(--h1);
}

body {
  font-size: 20px;
  box-sizing: border-box;
  background-color: rgb(45, 146, 254);
  font-family: 'Inclusive Sans', sans-serif;
  font-family: 'PT Serif', serif;
}

#title {
  font-size: 1.5rem;
  background-color: #88fbff;
  width: 20%;
  margin: auto;
  padding: 15px;
  align-items: center;
  text-align: center;
  border-radius: 50px;

}

.inserts {
  width: 20%;
  height: 550px;
  background-color: #88fbff;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 50px;
  box-shadow: 10px 10px;
  padding: 30px;
  display: flex;
}

#carddisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div {
  text-align: center;
  margin: auto;
  align-items: center;

}

@media screen and (max-width: 1200px) {
  .inserts {
      width: 40%;
  }

  #title {
      font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .inserts {
      width: 100%;
  }

  #title {
      font-size: 1rem;
  }
}